.nav {
    background: cadetblue;
    width: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
}

* {
  box-sizing: border-box;
}

.navLink {
  color: #fff;
  display: flex;
  align-items: left;
  text-decoration: none;
  padding: 0.5rem;
  height: 5vh;
  cursor: pointer;
}

.navLink:active {
  color: black;
}

.navLink:hover {
  color: black;
}

.bars {
  display: none;
  color: #fff;
  align-items: left;
  height: 20vh;
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: left;
}