.container {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.tilaukset {
    max-height: 40px;
    border: 1px #ccc solid;
    padding: 15px;
    min-width: 450px;
    margin: 20px;
    background-color: #dfdfdf;
}

.historia {
    max-height: 40px;
    border: 1px #ccc solid;
    min-width: 500px;
    padding: 15px;
    margin: 20px;
    background-color: #dfdfdf;
}

.tilausStatus {
    min-height: 300px;
    border: 1px #ccc solid;
    padding: 15px;
    min-width: 450px;
    margin: 20px;
    background-color: #dfdfdf;
}

.tilausHistoria {
    border: 1px #ccc solid;
    padding: 15px;
    margin: 20px;
    min-width: 500px;
    background-color: #dfdfdf;
}

.status {
    width: 350px;
    border: 2px solid cadetblue;
    padding: 15px;
    margin: 30px;
    background-color: #dfdfdf;
}


.historyItem {
    border: 2px solid cadetblue;
    margin-bottom: 5px;
    padding: 4px;
    background-color: #dfdfdf;
}

.button {
    background-color: rgba(255, 255, 255, 0.274); 
    color: black; 
    border: 2px solid cadetblue;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button:hover {
    background-color: cadetblue;
    color: white;
  }