.shop {
    width: 30vw;
    height: 20vh;
    min-width: 300px;
    min-height: 200px;
}

.imageSize {
    height:  80%;
}

.title {
    width: 30%;
    text-align: center;
    font-size: 2rem;
    background-color: aqua;
}

.type {
    width: 30%;
    text-align: center;
    font-size: 2rem;
    background-color: greenyellow;
}

.prange {
    width: 30%;
    text-align: center;
    font-size: 2rem;
    background-color: indianred;
}